*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* font-family: "IBM Plex Mono", serif; */
  font-family:Arial,Helvetica,sans-serif;
  font-family: "KaiTi","Pier Sans Light", serif;
}
@font-face {
  font-family: "Pier Sans";
  src: url("../../static/PierSans-Regular.otf");
}
@font-face {
  font-family: "Pier Sans Light";
  src: url("../../static/PierSans-Light.otf");
}

@font-face {
  font-family: "EB Garamond";
  src: url("../../static/EBGaramond-Regular.ttf");
}

@font-face {
  font-family: "KaiTi";
  src: url("../../static/kaiti.ttf");
}


.main-page{
  position: relative;
  background-image: url("../../static/bg.png");
  /* background-color: #EADFCC; */
}

#project-info{
  border: 2px solid deeppink;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
  background-color:aqua;
  border-radius: 15px;
  position: absolute;
  width: 200px;
  height: 400px;
  top: 20%;
  left: 40%;
  z-index: 15;
}

/* 实现弹出信息的动画 */
.info-min-page {
	-webkit-animation: slide-fwd-br 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-br 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-fwd-br {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px) translateX(100px);
            transform: translateZ(160px) translateY(100px) translateX(100px);
  }
}
@keyframes slide-fwd-br {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px) translateX(100px);
            transform: translateZ(160px) translateY(100px) translateX(100px);
  }
}
.header{
  /* width: 100%; */
  /* border: 1px solid red; */
  height: 100px;
  align-items: center;
  border-bottom: 2px #DBDBDB solid;
}
.header .title{
  text-align: center;
  font-size: 30px;
  /* border: 1px solid green; */
  width: 200px;
  margin: 10px auto;
}
.input-box{
  /* border: 1px solid purple; */
  position: relative;
  height: 50px;
  float: right;
  align-items: center;
}

.drawer-title{
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  /* border: 1px solid pink; */
  font-size: 25px;
  margin: 10px auto;
}
.drawer-info{
  font-size: 21px;
  padding: 20px;
  /* border: solid 2px green; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}


#project-info-btn{
  float: left;
}
#button-info{
  font-size: 18px;
  float: right;
  margin-right: 23px;
  margin-top: 12px;
}
#button-to-sub{
  position: absolute;
  right: 0;
}

.chart{
  /* margin: 10px auto; */
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.el-carousel__container{
  margin: 0 auto;
}

.el-carousel__item{
  border: 1px solid black;
  margin: 0 auto;
  /* width: 900px; */
  /* background-color: aqua; */
  background-color: rgba(0, 0, 0, 1.0);
  border-radius: 20px;
}
.graph{
  width: 942px;
  height: 750px;
}
.echart{
  width: 942px;
  height: 750px;
  /* border: 2px solid pink; */
}

